body {
    background: #faf8f1 url(images/bg-texture.png);
    font-family: "Roboto", sans-serif;
}

.navbar-default {
    background: #285797;
    height: 75px;
}

.navbar a {
    font-size:24px;
    font-weight:300;
    text-align: right;
    color:white;
    text-decoration:none;
    line-height: 75px;
    cursor: pointer;
}

#orange-bar {
    height: 5px;
    background: #e0812d;
    position: fixed;
    width: 100%;
    margin-top: -5px;
}

#main {
    margin-left:325px;
    transition: 0.5s;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sidenav {
    height: 100%;
    width: 325px;
    margin-top: 75px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 1px 0px 4px #666666;
    /* padding-top: 60px; */
}

.sidenav a {
    padding: 0px 0px 0px 50px;
    text-decoration: none;
    font-size: 24px;
    font-weight:400;
    color: #777777;
    display: block;
    transition: 0.3s;
    line-height: 72px;
    white-space: nowrap;
    overflow: hidden;
}

.sidenav a:hover {
    color: #444444;
    background: #efefef;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.title-bar {
    height: 75px;
    background: white;
    box-shadow: 0px 1px 4px #666666;
    line-height: 75px;
    font-size: 24px;
    color: #285797;
    text-transform: uppercase;
    width:100%;
    margin: 0 auto;
}

.title-bar .title {
    text-align: center;
    margin-top:-75px;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: .5px;
}

.title-bar a {
    padding-left: 30px;
    font-weight:600;
    color: inherit;
}

.title-bar a:hover {
    text-decoration: none;
}

#outer {
    display: table;
    position: relative;
    top: 0;
    left: inherit;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

.card {
    margin: 50px auto;
    height: 350px;
    width: 500px;
    background: white;
    box-shadow: 2px 2px 4px #888888;
}

.card .card-header {
    height: 75px;
    background: #285797;
    color: white;
    line-height: 75px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.card .card-orange-line {
    height: 3px;
    background: #e0812d;
}
